@import url("./reset.css");

body {
  font-size: 22px;
  min-width: 320px;
  line-height: 1.65;
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color: #3b181e;
}

.container {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .container {
    padding: 0 10px;
  }
}

#banner {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.general-title {
  position: relative;
  font-size: 30px;
  line-height: 33px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.general-title::after {
  display: block;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  position: absolute;
  width: 85px;
  height: 1px;
  background-color: #fff;
}

.logo {
  max-width: 200px;
  padding-bottom: 7px;
}

/* header */

#header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: center;
  height: 80px;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-left: 20px;
  text-transform: uppercase;
}

.burger-button {
  display: none;
}

.burger-button img {
  width: 35px;
}

@media (max-width: 1090px) {
  .header-list {
    gap: 20px;
    font-size: 20px;
  }
}

@media (max-width: 930px) {
  .header-list {
    display: none;
  }
  .burger-button {
    display: block;
  }
}

@media (max-width: 500px) {
  .logo {
    padding-bottom: 0;
  }
}

/* main */

.banner-title {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
}

.banner-title h1 {
  font-size: 5vw;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  width: 100%;
}

.banner-title button {
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 19px 30px;
}

@media (max-width: 930px) {
  .banner-title h1 {
    font-size: 8vw;
  }

  .banner-title button {
    font-size: 16px;
    padding: 15px 15px;
  }
}
/* catalog */

.catalog {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

.catalog-list {
  padding-top: 10%;
  display: flex;
  gap: 40px;
}

.catalog-title-shadow {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 10vw;
  color: rgb(255, 255, 255, 0.03);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.catalog-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1090px) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .catalog-list {
    flex-direction: column;
  }
  .catalog-column {
    flex-direction: row;
  }

  .catalog-item {
    width: 50%;
    height: 50%;
  }

  .catalog-title-shadow {
    font-size: 10vw;
  }
}

@media (max-width: 500px) {
  .catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .catalog-column {
    flex-direction: column;
  }
  .catalog-item {
    width: 100%;
  }

  .catalog-title-shadow {
    display: none;
  }
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 10px 20px 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-title {
  font-size: 18px;
  text-transform: uppercase;
}

.catalog-item .catalog-item-number {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 10%;
}

.catalog-item-number span {
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 1px;
  margin-left: 5px;
}

.catalog-item img {
  filter: brightness(0.7);
  object-fit: cover;
  width: 100%;
}

.catalog-item-3 img {
  min-height: 600px;
}

.catalog-item-5 img,
.catalog-item-8 img {
  min-height: 370px;
}

.catalog-item-7 img,
.catalog-item-4 img,
.catalog-item-6 img {
  max-height: 146px;
}

/* promo */

.promo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.promo-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.promo-block h3 {
  text-transform: uppercase;
  font-size: 35px;
}

.promo-block button {
  font-size: 18px;
  margin: 0 auto;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 19px 10px;
}

.promo img {
  width: 60%;
}

@media (max-width: 1000px) {
  .promo-block h3 {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .promo {
    flex-direction: column;
  }

  .promo img {
    width: 100%;
  }
}

/* portfolio */

.portfolio {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio img {
  width: 50%;
}

.portfolio-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.portfolio-block h3 {
  text-transform: uppercase;
  font-size: 35px;
}

.portfolio-block button {
  font-size: 18px;
  margin: 0 auto;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 19px 40px;
}

.wrapper-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wrapper-images img {
  max-width: 123px;
  max-height: 123px;
  min-width: 60px;
}

@media (max-width: 800px) {
  .portfolio {
    flex-direction: column-reverse;
  }

  .portfolio img {
    width: 100%;
  }

  .portfolio-block {
    width: 100%;
  }

  .portfolio-block h3 {
    order: 2;
    font-size: 22px;
  }

  .portfolio-block p {
    order: 3;
    font-size: 18px;
  }

  .portfolio-block button {
    order: 4;
  }

  .wrapper-images {
    order: 1;
  }
}

/* gift */

.gift {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gift-cards {
  padding-top: 50px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.gift-card {
  border-radius: 8px 8px 0 0;
  background-color: #281014;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  max-width: 348px;
  max-height: 574px;
  padding-bottom: 40px;
}

.gift-card:hover .gift-card-wrapper {
  cursor: pointer;
  background-color: #262835;
  transition: all 0.5s ease;
  transform: scale(0.9);
}

.gift-card-big {
  width: 420px;
  height: 694px;
}

.gift-card-text {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  gap: 30px;
}

.gift-card-text p {
  font-size: 20px;
}

.gift-card-text button {
  font-size: 16px;
  margin: 0 auto;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 19px 40px;
}
.gift-card-text button:hover {
  opacity: 0.8;
}

.gift-card-wrapper {
  transition: all 0.5s ease;
  border-radius: 8px;
  position: relative;
  background: url("./img/Group\ 10.png") right bottom no-repeat,
    url("./img/лого.svg") center no-repeat, url("./img/Group.png") no-repeat,
    #0a0a0e;
  height: 219px;
}

.gift-card-wrapper-big {
  margin-bottom: 20px;
  height: 264px;
}

.gift-card-wrapper .gift-price {
  position: absolute;
  bottom: 0;
  left: 3%;
}

.gift-card-wrapper .gift-number {
  position: absolute;
  top: 0;
  right: 3%;
}

/* providers */

.providers {
  padding-top: 80px;
  padding-bottom: 80px;
}

.providers-block {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.providers-row {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.providers-row:nth-child(2) img {
  max-width: 565px;
  width: 100%;
}

.providers-row:last-child img {
  min-width: 272px;
}

@media (max-width: 700px) {
  .providers {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* footer */

.footer {
  border-top: 1px solid #676565;
  padding-top: 20px;
  padding-bottom: 50px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .footer {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .footer-list {
    gap: 20px;
  }
}
